.detailsContainer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
  background-color: #f1f5f9;

  h3 {
    border-bottom: 2px solid #dde4f8d7;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    color: #1e446d;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 1rem;
  }
}

.profileSidebar {
  width: 300px;
  background: lightgray;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  p {
    margin: 0.5rem 0;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.profilePhoto {
  width: auto;
  height: 220px;
  border-radius: 20%;
  object-fit: cover;
}

.profileMain {
  flex: 1;
  width: 100%;
  padding-bottom: 50px;
}

.infoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.backLink {
  display: inline-block;
  margin-top: 1rem;
  color: #007bff;
  text-decoration: none;
}

.loader {
  --c: no-repeat linear-gradient(rgb(0, 53, 151) 0 0);
  background:
    var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c);
  background-size: 16px 16px;
  animation:
    l32-1 1s infinite,
    l32-2 1s infinite;
}

@keyframes l32-1 {
  0%, 100% { width: 45px; height: 45px; }
  35%, 65% { width: 65px; height: 65px; }
}

@keyframes l32-2 {
  0%, 40% {
    background-position: 0 0, 0 50%, 0 100%,
                         50% 100%, 100% 100%, 100% 50%,
                         100% 0, 50% 0, 50% 50%;
  }
  60%, 100% {
    background-position: 0 50%, 0 100%, 50% 100%,
                         100% 100%, 100% 50%, 100% 0,
                         50% 0, 0 0, 50% 50%;
  }
}

.app {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  min-width: 600px;

  thead th {
    position: sticky;
    top: 0;
    background-color: #f3f3f3;
    z-index: 1;
  }

  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #eee;
  }

  th {
    font-weight: 600;
    color: #555;
  }

  tr:hover {
    background-color: #f5f5f5;
  }
}

/* For small screens: horizontal scroll if needed */
@media (max-width: 768px) {
  .tableContainer {
    overflow-x: auto;
  }

  .table {
    min-width: 100%;
  }
}

.badges {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    span {
      padding: 0.4rem 1rem;
      border-radius: 20px;
      font-weight: bold;
      color: #080808;
      font-size: 0.9rem;
    }
  }
