.detailContainer {
  margin: 0 ;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #000000;
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #050505;
    }
  }

  .badges {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    span {
      padding: 0.4rem 1rem;
      border-radius: 20px;
      font-weight: bold;
      color: #080808;
      font-size: 0.9rem;
    }
  }

  .dates {
    margin-top: 1rem;

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #000000;
      margin-bottom: 0.5rem;
    }
  }

  .assignees {
    margin-top: 1.5rem;

    h4 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;
      color: #0a0a0a;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: #fff;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);

       img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: fill;
            border: 2px solid #ddd;
            }
            img:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in-out;
            }

        span {
          font-size: 0.95rem;
          color: #070707;
          
        }
        div {
    display: flex;
    flex-direction: column;
  }
      }
    }
  }
}

.loader {
  --c:no-repeat linear-gradient(rgb(0, 53, 151) 0 0);
  background: 
    var(--c),var(--c),var(--c),
    var(--c),var(--c),var(--c),
    var(--c),var(--c),var(--c);
  background-size: 16px 16px;
  animation: 
    l32-1 1s infinite,
    l32-2 1s infinite;
}
@keyframes l32-1 {
  0%,100% {width:45px;height: 45px}
  35%,65% {width:65px;height: 65px}
}
@keyframes l32-2 {
  0%,40%  {background-position: 0 0,0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,  50% 50% }
  60%,100%{background-position: 0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,0 0,  50% 50% }
}

.app {
  height: 70vh;
  display: flex;
  justify-content: center;
   align-items: center;
  
}