
.view-toggle-switch {
  display: flex;
  border: 1px solid var(--toggle-border);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

  button {
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

    span.material-icons {
      font-size: 24px;
      color: var(--icon-color);
    }

    &.active {
      background-color: #4f46e5;

      span.material-icons {
        color: var(--active-icon);
      }
      &:hover {
      background-color: #6366f1;
      color: white;
    }
    }
  }
}
