.addButton {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding:15px 20px;
  background-color: #4f46e5;
  color: white;
  border-radius: var(--radius-lg);
  font-weight: 500;
  transition: var(--transition-fast);
  
  &:hover {
    background-color: #6366f1;
  }
}